<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Inventory Section</title>
		<link rel="stylesheet" th:href="@{/style.css}"></link>
	</head>
	<body>
		<div th:include="header :: header"></div>
		<h2>Select the following to modify</h2>
		<a th:href="@{/}">Home</a><br/>
		<a th:href="@{/getProductColor/nm}">Add Product Color</a><br/>
		<a th:href="@{/getProduct/nm}">Add/Update a Product</a><br/>
		<div class="footer" th:include="footer :: site-footer"></div>
	</body>
</html>